<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="text-center position-absolute" style="left: 50%; top: 45%; transform: translate(-50%,-50%); font-size:24px;">
                <i class="bi bi-exclamation-triangle text-warning"></i>
                <p>Bohužel, tato stránka je prázdná</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>
